<div class="list-group mb-4">
  <div target="_blank" rel="noopener" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">'Purva Baksha'</h5>
      <small class="text-muted">24 Feb, 2018</small>
    </div>
    <p class="mb-1">Orientation day conducted for the 1st year students</p>
    <!-- <small class="text-muted">Website</small> -->
  </div>

  <a href="https://github.com/GLUG-PESCE/glug-pesce" target="_blank" rel="noopener" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">GLUG's Website was launched</h5>
      <small class="text-muted">20 Feb, 2018</small>
    </div>
    <p class="mb-1">GLUG-PESCE's static website got hosted on Github Pages</p>
    <!-- <small class="text-muted">Website</small> -->
  </a>

  <a href="https://github.com/amoghavarsha101/Game-theory" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Game theory</h5>
      <small class="text-muted">18 Feb, 2018</small>
    </div>
    <p class="mb-1">'Prisoner's Dilemma',a small game based on Game Theory was created by a member</p>
    <!-- <small class="text-muted"></small> -->
  </a>

  <a href="https://glug-pesce.github.io/Aaron-Swartz/index.html" target="_blank" rel="noopener" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Aaron Swartz Day</h5>
      <small class="text-muted">11 Nov, 2017</small>
    </div>
    <p class="mb-1"></p>
    <small class="text-muted">Celebrated Aaron Swartz day,launched a website as a tribute to the late Aaron Swartz.</small>
  </a>
</div>
