<div class="list-group mb-4">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">BOOTSTRAP</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">Introduction on Operating Systems and the role of Free Software for 1st year students</p>
    <small>Mandatory for IS students associated with GLUG-PESCE</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">SESSION</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Session on Git</p>
    <small class="text-muted">Command line basics on VCS</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">LOCALIZATION</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Getting started with localization of Free Software and delving deep into the philosophical aspects of Software Freedom and Privacy </p>
    <small class="text-muted">Localization</small>
  </a>
</div>
